syntax on
set autoindent
set smartindent
set hlsearch
set t_Co=256

" nerdtree
nmap <F7> :NERDTreeToggle<CR>
let NERDTreeWinPos = "left"

" tagbar
nmap <F9> :TagbarToggle<CR>

" gtags
map <C-g> :GtagsCursor<CR>
map <C-g><C-r> :GtagsReferenced<CR>
map <C-g><C-g> :GtagsGrep<CR>
map <C-n> :cn<CR>
map <C-p> :cp<CR>

function! TabForKernel()
	set tabstop=8
	set shiftwidth=8
	set noexpandtab
endfunction

function! TabForApp()
	set tabstop=4
	set shiftwidth=4
	set expandtab
endfunction
